/* styles.css */

body {
  padding-top: 70px;
  /* Adjust according to your logo height */
}

.logo {
  max-width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-section {
  flex: 2; /* Increase the size of the left section */
  margin-right: 15px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.choose-sound,
.write-text {
  margin-bottom: 15px;
}

.social-icons {
  margin-top: 15px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  transition: transform 0.5s ease-in-out;
}

.card-cover.random-bg {
  background-image: url('assets/random-background.jpg'); /* Default background */
  background-size: cover;
  background-position: center;
}

.card-inside {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card.open .card-cover {
  transform: translateY(-100%);
}

.card.open .card-inside {
  display: flex;
  transform: translateY(100%);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container .text-overlay {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  text-align: center;
}
