/* styles.css */

html,
body {
  margin: 0;
}

body {
  background-color: #073607;
  position: relative;
  /* overflow-x: hidden; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('svg/ChristmasPattern.svg');
  background-size: cover;
  background-size: 20%;
  opacity: 0.1;
  z-index: -2;
}

nav {
  background-color: #980505;
  z-index: 1;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

nav i {
  font-size: 1.6rem;
}

.nav-logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  transform: scale(1.3);
}

.logo {
  height: 60px;
  width: 60px;
}

h1 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

label {
  text-align: center;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input[type='text'],
select.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type='text']:focus,
select.form-control:focus {
  border-color: #980505;
  outline: none;
}

textarea.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

textarea.form-control:focus {
  border-color: #980505;
  outline: none;
}

input[type='radio'] {
  margin-right: 5px;
}

#videoUrl {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

#videoUrl:focus {
  border-color: #980505;
  outline: none;
  background-color: #fff;
}

#wire {
  text-align: center;
  white-space: nowrap;
  position: relative;
  padding: 0;
  width: 100%;
  top: -90px;
  border-bottom: 3px solid #222;
  height: 100px;
}

#wire li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 15px;
  top: 102px;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: even-flash;
}

#wire li:nth-child(odd) {
  animation-name: odd-flash;
}

#wire li:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 10px;
  border-radius: 4px;
  top: -5px;
  left: 0px;
  background: #444;
}

@keyframes even-flash {
  0%,
  100% {
    background: rgb(6, 141, 6);
    box-shadow: 0px 2px 20px 4px rgb(110, 233, 61);
  }
  50% {
    background: rgba(255, 230, 65, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
  }
}

@keyframes odd-flash {
  50% {
    background: rgb(27, 63, 224);
    box-shadow: 0px 2px 20px 4px rgb(18, 190, 202);
  }
  0%,
  100% {
    background: rgba(231, 40, 49, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(248, 56, 72, 0.3);
  }
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  z-index: -1;
}

.logo {
  max-width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-container {
  max-width: 668px;
}

.choose-sound,
.write-text {
  margin-bottom: 15px;
}

.social-icons {
  margin-top: 15px;
  color: #073607;
  border-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  transition: transform 0.5s ease-in-out;
}

.card-cover.random-bg {
  background-image: url('assets/random-background.jpg'); /* Default background */
  background-size: cover;
  background-position: center;
}

.card-inside {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card.open .card-cover {
  transform: translateY(-100%);
}

.card.open .card-inside {
  display: flex;
  transform: translateY(100%);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container .text-overlay {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  text-align: center;
}

.element-hidden {
  display: none;
  visibility: hidden;
}