/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

html, body {
  margin: 0;
}

body {
  background-color: #073607;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('svg/ChristmasPattern.svg');
  background-size: cover;
  background-size: 20%;
  opacity: 0.1;
  z-index: -2;
}

nav {
  background-color: #980505;
  z-index: 1;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.nav-logo {
  /* Center the logo */
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  height: 60px;
  width: 60px;
}

h1 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

label {
  align-content: center;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
select.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
select.form-control:focus {
    border-color: #980505;
    outline: none;
}

textarea.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

textarea.form-control:focus {
  border-color: #980505;
  outline: none;
}

input[type="radio"] {
  margin-right: 5px;
}


.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  z-index: -1;
}

.logo {
  max-width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-section {
  flex: 2; /* Increase the size of the left section */
  margin-right: 15px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.choose-sound,
.write-text {
  margin-bottom: 15px;
}

.social-icons {
  margin-top: 15px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  transition: transform 0.5s ease-in-out;
}

.card-cover.random-bg {
  background-image: url('assets/random-background.jpg'); /* Default background */
  background-size: cover;
  background-position: center;
}

.card-inside {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card.open .card-cover {
  transform: translateY(-100%);
}

.card.open .card-inside {
  display: flex;
  transform: translateY(100%);
}

.image-container {
  position: relative;
  display: inline-block;
  height: 35vw;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .text-overlay {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  text-align: center;
}

.element-hidden {
  display: none;
  visibility: hidden;
}

footer {
  margin-top: 70px;
  position: sticky;
  bottom: 0;
}